pandas 0.23.4
- important module in Data Analysis in Python

pycountry 18.12.8
- provides the ISO databases.

In [32]:
import pandas as pd
import pycountry as pc

Open `plik.csv` as dataframe `plik` without header and with `,` as separator in csv

In [22]:
plik=pd.read_csv("plik.csv", header=None, sep=",")

Print `plik` with a large file, display the first 5 results `plik.head()`

In [23]:
plik

             0         1     2      3
0   01/21/2019  Mandiana   883  0.38%
1   01/21/2019      Lola    76  0.78%
2   01/21/2019    F훮ry훮b   919  0.67%
3   01/22/2019      Lola   201  0.82%
4   01/22/2019     Berou   139  0.61%
5   01/22/2019  Mandiana  1050  0.93%
6   01/23/2019         ?   777  0.22%
7   01/23/2019    Gaoual    72   0.7%
8   01/23/2019      Lola   512  0.19%
9   01/24/2019    Beroun   620   0.1%
10  01/24/2019   Unknown   586  0.86%
11  01/24/2019         ?  1082  0.68%

It gives new headings for ease of operation: 
- Data
- Subdivisions
- Number
- Percent

In [24]:
plik.columns = ['Data', 'Subdivisions', 'Number','Percent']

change the column Data to datatime format

In [ ]:
plik['Data'] = pd.to_datetime(plik['Data'], format='%m/%d/%Y')

change the column Percent to float without "%"

In [26]:
plik['Percent'] = (plik['Percent'].str.rstrip('%')).astype('float')

Create new column `CountryCode` with country code format `XXX` for subdivisions

In [27]:
def get_country_code(name):
    """find the country code to the subdivisions name"""
    for co in pc.subdivisions:
        if name in co.name:
            return co.country_code
    return 'XXX'

def get_country_code_alpha_3(name):
    """find the country code format XXX to country code format XX"""
    for co in pc.countries:
        if name == 'XXX':
            return 'XXX'
        if name in co.alpha_2:
            return co.alpha_3
    return 'XXX'
kod=[]
names = plik['Subdivisions']
for name in names:
    code = get_country_code(name)
    kod.append(code)
    
names2 = kod
kod_alpha_3 = []
for name in names2:
    code = get_country_code_alpha_3(name)
    kod_alpha_3.append(code)
    
plik['CountryCode'] = kod_alpha_3

Create new column `Clicks` that are the value of equation `( number * percent )/100`

In [28]:
plik.insert(loc=5, column='Clicks', value=(round(((plik.Number * plik.Percent)/100),0)).astype('int'))

Group by columns `Data` and `CountryCode`

In [29]:
group = plik.groupby(by=["Data", 'CountryCode'])

Print new group with sum of values in rows for columns `Number` and `Click`

In [30]:
group['Number', 'Clicks'].sum().head()

                        Number  Clicks
Data       CountryCode
2019-01-21 AFG             919       6
           GIN             959       4
2019-01-22 CZE             139       1
           GIN            1251      12
2019-01-23 GIN             584       2

Write group to `new.csv` with separator `,`, with new header, without index. New plik will be saved in the same folder as this notebook.

In [31]:
group['Number', 'Clicks'].sum().reset_index().to_csv('new.csv')